<body>
  <header>

    <div class="inner wrap">
      <div  class="about-title">
        <h2></h2>
      </div>
      <blockquote>
        <div class="entry-content">
          <p>

          </p>
          <p>

          </p>
        </div>
      </blockquote>

    </div>
  </header>
</body>
